body,html{
    margin: 0;
    padding: 0;
}

.clear{
    clear: both;
}

.header{
    padding: 0;
    margin: 0;
}

.header ul{
    list-style: none;
}

.menu  li{
    cursor: pointer;
    text-align: center;
    float: left;
    width: 100px;
    height: 25px;
    background-color: brown;
    border-right: 1px solid white;
}

.menu li a {
    text-decoration: none;
    color: rgb(3, 3, 3);
}

.one{
    margin-left: -40px;
    margin-top: 7px;
    border-top: 1px solid white;
}

.two{
    margin-left: -40px;
    margin-top: 7px;
    border-top: 1px solid white;
}
.submenu li{
    border-bottom: 1px solid white;
}

.submenu{
    display: none;
}

.hovermenu:hover > ul{
    display: block;
}